<div class="dashboard_banner">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('aushellodashboard1.png') %>)">
    <h1><%= t("Admin Dashboard") %></h1>
  </div>
 </div>

<div class="container">
  <div class="tab-wrap">
    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
    <label for="tab1">Resources submitted</label>

    <input type="radio" id="tab2" name="tabGroup1" class="tab">
    <label for="tab2">Update submitted</label>

    <div class="tab__content">
       <%= render "new_resource" %>
    </div>
    <div class="tab__content">
      <%= render "update" %>
    </div>
  </div>
</div>
