

 <div class="container favebody">
  <%# <div class="tab-wrap">
    <!-- active tab on page load gets checked attribute -->
    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
    <label for="tab1"><%= t("My Favourites")</label>
    <%# <div class="tab__content"> %>
       <%= render "myfavourites" %>
    <%# </div> %>
 <%# </div> %>
</div>
