<!-- Modal -->
<div id="newTag" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please tell us what is wrong</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div>
          <input type="radio" id="address" name="drone" value="address"
                checked>
          <label for="huey">Wrong address</label>
        </div>
        <div>
          <input type="radio" id="website-address" name="drone" value="website-address">
          <label for="dewey">Wrong website address</label>
        </div>
        <div>
          <input type="radio" id="louie" name="phone-number" value="phone-number">
          <label for="louie">Wrong phone number</label>
        </div>
        <div>
          <input type="radio" id="louie" name="description" value="description">
          <label for="louie">Wrong description</label>
        </div>
        <div>
          <input type="radio" id="louie" name="unavailable" value="unavailable">
          <label for="louie">This resourse is unavailable</label>
        </div>
        <div>
          <input type="radio" id="louie" name="other" value="ther">
          <label for="louie">Other</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
