<div class="container">
  <div id="seach-banner">
    <div class= "container m-4">
      <%= form_tag resources_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Seach resource by city"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

  <div class="categories">
    <h3>Seach resource by category</h3>

    <div class="col-md-6 mb-4">
      <div class="list-group list-group-horizontal text-center">
          <div class="list-group-item m-2 shadow-lg">
            <p class="mb-0"><i class="fas fa-user-md fa-3x m-2 grey p-3 white-text rounded-circle shadow-lg" aria-hidden="true"></i>Health</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"> <i class="fas fa-balance-scale-right fa-3x m-2 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Legal</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"><i class="fas fa-home fa-3x m-2 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Housing</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"><i class="fas fa-user-graduate fa-3x m-2 grey p-3 white-text rounded-circle " aria-hidden="true"></i>Education</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"><i class="fas fa-passport fa-3x m-2 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Visa</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"><i class="fas fa-utensils fa-3x m-2 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Every day</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"><i class="fas fa-briefcase fa-3x m-2 grey p-3 white-text rounded-circle " aria-hidden="true"></i>Employment</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"><i class="fas fa-hand-holding-usd fa-3x m-2 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Financial help</p>
          </div>
          <div class="list-group-item m-2">
            <p class="mb-0"><i class="fas fa-users fa-3x m-2 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Community</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
