.mapboxgl-popup {
  max-width: 300px;
  // padding-bottom: 50px;
  .card_window {
      background-color: green;
    }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 55%);

}

.mapboxgl-popup {
  max-width: 300px;
}

// .card_window {
//   border-radius: 15px;
//   overflow-y: auto;
//   flex: 0 1 auto;
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 60px;
//   padding-bottom: 25px;
//   border: 2px solid #0b5cb2;
//   box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 55%);
//   width: 100%;
// }
