// .mapboxgl-popup {
//   max-width: 300px;
//   border-radius: 30px;
//   border: 10px;
//   border-color: orange !important;
//   border-style: solid;
//   box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 55%);
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Open Sans', sans-serif;
// }


.popup {
  overflow-y: auto;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding-bottom: 25px;
  width: 100%;
}

// .favorite-icon-index {
//     position: absolute;
//     top: 15px;
//     right: 15px;
//     margin-left: 1rem;
//     color: rgba(243,85,76,0.8);
//     font-size: 1.3rem;
//     &:hover {
//       color: rgba(243,85,76,1);
//       font-size: 1.4rem;
// }

.favourite-icon {
  margin-left: 1rem;
  color: rgba(243,85,76,0.8);
  font-size: 2rem;
  &:hover {
    color: rgba(243,85,76,1);
    font-size: 2.1rem;
  }}
