// .mapboxgl-popup {
//   max-width: 300px;
//   border-radius: 30px;
//   border: 10px;
//   border-color: orange !important;
//   border-style: solid;
//   box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 55%);
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Open Sans', sans-serif;
// }


.popup {
  overflow-y: auto;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding-bottom: 25px;
  width: 100%;
}
