
.popup {
  overflow-y: auto;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding-bottom: 25px;
  width: 100%;
}

.heart-icon {
  margin-left: 1rem;
  color: #FF491E;
  font-size: 1.5rem;
  &:hover {
    
}}