.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

//  ***Test***

// .mapboxgl-ctrl-geocoder--input {
//     font: inherit;
//     width: 100%;
//     border: 0;
//     background-color: transparent;
//     margin: 0;
//     height: 50px;
//     color: #404040;
//     color: rgba(0, 0, 0, 0.75);
//     padding: 6px 45px;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }

// .geocoder {
//     position: absolute;
//     z-index: 1;
//     width: 50%;
//     left: 50%;
//     margin-left: -25%;
//     top: 10px;
// }
// .mapboxgl-ctrl-geocoder {
//     min-width: 100%;
// }
// #map {
//      position: relative; top: 0; bottom: 0; width: 100%;
// }
